<div id="slide-out-panel" class="slide-out-panel users">
  <section class="users-sec">
    <div onclick="closeDrawer()" class="close-icon"><img src="./../../views/assets/images/cancel.svg" alt=""></div>
    <div class="auth-container">
      <div class="auth-title-block">
        <img src="./../../views/assets/images/logo.svg" alt="">
        <div class="auth-title">PDF Conv</div>
      </div>
      <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->

      <div class="user-det">
        <div onclick="googleSignIn()" class="chips">
          <img src="./../../views/assets/images/google.svg" alt=""> <span>Signin</span> in with Google
        </div>
        <div onclick="facebookSignIn()" class="chips">
          <img src="./../../views/assets/images/facebook.svg" alt=""> <span>Signin</span> using Facebook
        </div>
        <!-- <div class="chips">
          <img src="./../../views/assets/images/twitter.svg" alt=""> <span>Signin</span> using Twitter
        </div> -->
      </div>
    </div>
  </section>
</div>