<!DOCTYPE html>
<html lang="en">

<head>
  <title>Any To PDF | PDF Conv</title>
  <link rel="shortcut icon" href="./../views/assets/images/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css"
    integrity="sha512-42kB9yDlYiCEfx2xVwq0q7hT4uf26FUgSIZBK8uiaEnTdShXjwr8Ip1V4xGJMg3mHkUt9nNuTDxunHF0/EgxLQ=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="./../views/assets/styles/style.css">
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"
    integrity="sha512-bUg5gaqBVaXIJNuebamJ6uex//mjxPk8kljQTdM1SwkNrQD7pjS+PerntUSD+QRWPNJ0tq54/x4zRV8bLrLhZg=="
    crossorigin="anonymous"></script>
  <script src="./../views/scripts/index.js"></script>
</head>

<body class="body-container">
  <nav>
    <ul>
      <li class="nav-left-sec">
        <div class="logo-sec">
          <div class="logo-block">
            <img src="./../views/assets/images/logo.svg" alt="">
            <span>PDF Conv</span>
          </div>
        </div>
      </li>
      <li class="nav-actions-sec">
        <div class="nav-actions">
          <button class="btn btn-primary btn-clear login-btn">Login</button>
          <button class="btn btn-primary">Signup For Free</button>
        </div>
      </li>
    </ul>
  </nav>
  <section class="top-section">
    <div class="page-title">
      <div class="converter-logo">
        <img src="./../views/assets/images/file.svg" alt="">
      </div>
      <div class="converter-text">
        Convert your files into PDF for <b>FREE</b>
      </div>
    </div>
    <div class="page-dropper-sec">
      <div class="file-dropper">
        <div class="progress-bars progress-infinite">
          <div class="progress-bar3">
          </div>
        </div>
        <div class="top-loader-bar"></div>
        <div class="file-dropper-bg"></div>
        <input title="" type="file" id="dropper">
        <div class="file-dropper-block">
          <div class="pdf-img"><img src="./../views/assets/images/pdf-file-format.svg" alt=""></div>
          <button class="btn btn-primary chooser-btn"><img src="./../views/assets/images/add-file.png" alt="">CHOOSE
            FILE</button>
          <div class="dropper-text">or drop your file</div>
        </div>
        <div class="file-uploading">
          Uploading...
        </div>
        <div class="file-converting">
          <div class="convert-img">
            <img class="files-img" src="./../views/assets/images/files.svg" alt="">
            <img class="files-arrow" src="./../views/assets/images/right-arrow.svg" alt="">
            <img class="files-pdf" src="./../views/assets/images/pdf.svg" alt="">
          </div>
          <div class="convert-text">
            Converting...
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="explain-section">
    <h2 class="section-title">Key Features of PDF Conv</h2>
    <h5 class="section-desc">Convert your files into pdf with high quality. We provide you for free of cost. <br> You
      can convert unlimited files.</h5>
    <div class="row">
      <div class="col-md-6">
        <div class="explain-img">
          <img src="./../views/assets/images/convert-img.svg" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <ul>
          <li>
            <div class="ex-title">Security <img src="./../views/assets/images/verified.svg" alt=""> </div>
            <div class="ex-desc">Everyone think about their file security. So Your security is our first priority. We
              can transfers your files with an advanced
              level of SSL encryption. We destroy all files automatically from our servers immediately.</div>
          </li>
          <li>
            <div class="ex-title">Quality <img src="./../views/assets/images/original.svg" alt=""></div>
            <div class="ex-desc">Out PDF Conv give the best quality of converted PDF files, you can't get better quality
              pdf conversion files than us for FREE.</div>
          </li>
          <li>
            <div class="ex-title">Use at place <img src="./../views/assets/images/cloud-computing.svg" alt=""></div>
            <div class="ex-desc">You can use the our PDF file converter from anywhere for free with use of internet.
            </div>
          </li>
          <li>
            <div class="ex-title">Unlimited access <img src="./../views/assets/images/cloud-computing.svg" alt=""></div>
            <div class="ex-desc">You can convert unlimited files into pdf for free of cost. Don't worry we can't keep
              your files in our servers.</div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <footer>
    <div class="row">
      <div class="col-md-6">
        <div class="footer-left-sec">
          © 2021 PDF Conv — Made <span>❤</span> with for you.
        </div>
      </div>
      <div class="col-md-6">
        <div class="footer-right-sec">
          <a>Privacy Policy & Terms</a>
          <a>Contact Us</a>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>